rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{userId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
    }

    match /pointTransactions/{transactionId} {
      allow read: if true;
      allow create: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}